.searchBar {
  margin-left: 10%;
  width: 90%;
  background-color: transparent;
  border-radius: 50px;
  height: 30px;

  padding-right: 0.1rem;
  display: grid;
  grid-template-columns: min-content 1fr;

  align-items: center;
  grid-column-gap: 0.1rem;

  font-size: 1.6rem;
}

.glassBox {
  display: grid;
  height: 90%;
  align-content: center;
  justify-self: end;
  background-color: #000000;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  .searchBar {
    margin-left: 5%;
    width: 100%;
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .searchBar {
    margin-left: 10%;
    display: grid;
    width: 90%;
    grid-column: 1/4;
    justify-self: center;
  }
}
