.weatherBarSection {
  position: relative;
}
.weatherBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--color--White);
  background-color: transparent;
  border: 1px solid white;
  justify-items: center;
  height: 9rem;
  position: absolute;
  width: 50%;
  left: 25%;
  top: -4rem;
  border-radius: 20px;
  font: 1.6rem;
  padding: 1rem;
}

.feelslikeBox,
.maxMinBox {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-row-gap: 1rem;
}
.feelslike,
.temperature,
.maxMin {
  color: white;
}
.icon {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}
.temperatureBox {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  border-left: 2px solid white;
  border-right: 2px solid white;
  grid-row-gap: 1rem;
}

.value {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}
@media (max-width: 1025px) {
  .weatherBar {
    width: 60%;
    left: 20%;
  }
}
@media (max-width: 768px) {
  .weatherBar {
    width: 70%;
    left: 15%;
  }
}
@media (max-width: 500px) {
  .weatherBar {
    width: 90%;
    left: 5%;
    border-radius: 2rem;
  }
}
